.header {
    width: 100%;
    padding-inline: 30px;
    background-color: $primary-color;
    color: $bg-color;
    padding-top: 10px;
    padding-bottom: 10px;

    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        @media screen and (min-width: 620px) {
            flex-direction: row;
            align-items: center;
        }

        .header__row {
            display: flex;
            width: 100%;

            @media screen and (min-width: 620px) {
                width: 30%;
            }

            .header__logo {
                width: 100%;
                font-family: 'charmonmanregular', sans-serif;
                color: $hover-color;
                font-size: 25px;
                text-decoration: none;

                .logo__color {
                    font-family: 'charmonmanbold', sans-serif;
                    color: $second-color;
                }
            }

            .header__hamburger {
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                justify-content: center;

                @media screen and (min-width: 620px) {
                    display: none;
                }

                span {
                    background-color: #fff;
                    width: 30px;
                    height: 3px;
                    border-radius: 5px;
                }
            }
        }
    }

    &__navbar {
        width: 100%;
        display: none;
        align-items: center;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
        margin-top: 20px;
        padding-bottom: 10px;

        @media screen and (min-width: 620px) {
            display: flex;
            width: 70%;
            flex-direction: row;
            margin-top: 0;
            justify-content: end;
            align-items: center;
            padding-bottom: 0;
        }

        .header__link {
            color: #fff;
            text-decoration: none;
            text-align: center;
            position: relative;
            cursor: pointer;
            font-size: 20px;
            border: 1px white solid;
            padding: 10px;
            border-radius: 10px;

            &--active {
                color: $hover-color;
            }

            // &::after {
            //     content: '';
            //     border-bottom: 2px solid transparent;
            //     position: absolute;
            //     width: 100%;
            //     left: 0;
            //     bottom: -10px;
            //     transition: border-color 0.3s;
            // }

            &:hover {
                background: #000;
                transform: scale(102%);
                // transition: cubic-bezier(0.075, 0.82, 0.165, 1);

                // &::after {
                //     border-bottom-color: $hover-color;
                // }
            }
        }
    }

    .open {
        display: flex;
    }
}
