.add__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .add__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .add__top {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        justify-content: start;

        .add__row {
            display: flex;
            flex-direction: row;
            gap: 20px;
            width: 100%;

            .add__label {
                width: 200px;
            }

            .add__input {
                max-width: 800px;
                width: 100%;
            }
        }
    }

    .add__bottom {
        display: flex;
        width: 100%;
        gap: 20px;
        align-items: center;
        justify-content: space-evenly;
    }

    .add__bottom--col {
        display: flex;
        flex-direction: column;

        .add__row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 5px;
            width: 100%;
            margin-bottom: 5px;

            h4,
            select {
                max-width: 140px;
                width: 100%;
            }

        }
    }
}