.table__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .row {
        gap: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 0.25fr 1.25fr 1.5fr 1.5fr 0.5fr;
        border-bottom: 1px solid black;
    }
}