.maindesktop__container {
    background-color: $bg-color;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    overflow-y: scroll;

    .maindesktop__top {
        width: 100%;
        max-width: 1600px;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 900px) {
            gap: 20px;
            flex-direction: column;
        }

        .maindesktop__widget {
            width: 40%;
            text-align: center;
            display: flex;
            flex-direction: row;
            gap: 10px;

            &--col {
                flex-direction: column;
                width: 60%;

                @media only screen and (max-width: 900px) {
                    width: 100%;
                }
            }

            @media only screen and (max-width: 900px) {
                width: 100%;
            }

            .widget__box {
                border: 2px solid $border-color;
                padding: 10px;
                width: 40%;
                height: 100%;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                background-color: $bg-card-color;
                color: $font-color;
                border-radius: $border-radius;

                @media only screen and (max-width: 900px) {
                    flex-direction: column;
                    padding: 30px;
                    width: 80%;
                    height: 80%;
                }

                &--right {
                    width: 100%;
                    height: 100%;
                    cursor: auto;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    text-align: left;
                    border: 1px solid $secondary-border;
                    background-color: $secondary-muted;
                    color: $font-color;

                    // @media only screen and (max-width: 560px) {
                    //     flex-direction: column;
                    //     width: 100%;
                    //     text-align: center;
                    // }

                    .widget__add--right {
                        width: 25px;
                    }
                }

                &--green {
                    border: 1px solid $primary-border;
                    background-color: $primary-muted;
                    color: $primary-color;
                }

                .widget__border {
                    padding: 15px;
                    background-color: $primary-muted;
                    border-radius: $border-radius;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &--right {
                        background-color: $secondary-muted;
                    }

                    .widget__add {
                        width: 12px;
                    }
                }
            }
        }
    }

    .maindesktop__bottom {
        width: 100%;
        text-align: center;
    }
}

.add__container {
    align-items: center;
}

.mealPlan__titleBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;

    .mealPlan__title {
        padding: 5px;
        text-align: center;
        color: $font-color;

        &--span {
            color: $primary-color;
        }
    }

    .maindesktop-navigation {
        width: 100%;
        max-width: 100px;
    }
}

.add__botom {
    display: flex;
    max-width: 1600px;
    border-radius: $border-radius;
    color: $font-color;

    @media only screen and (max-width: 860px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 80%;
    }

    @media only screen and (max-width: 560px) {
        width: 100%;
    }

    .mealplan__table {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        border-top: 1px solid $border-color;

        &:first-of-type {
            border-left: 1px solid $border-color;
        }
        &:last-of-type {
            border-right: 1px solid $border-color;
        }

        @media screen and (max-width: 860px) {
            border-left: 1px solid $border-color;
        }
    }

    .mealPlan__row {
        padding: 5px;
        border-bottom: 1px $border-color solid;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mealPlan__header {
        text-transform: uppercase;
        color: $font-color;
        height: 50px;
        padding: 5px;
        border-bottom: 1px $border-color solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
