.maindesktop__container {
    background-image: url('../../../assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    overflow-y: scroll;

    .maindesktop__top {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        @media only screen and (max-width: 560px) {
            justify-content: center;
        }

        .maindesktop__widget {
            width: 30%;
            text-align: center;
            display: flex;
            flex-direction: row;
            gap: 10px;

            &--col {
                flex-direction: column;
                width: 60%;
            }

            @media only screen and (max-width: 560px) {
                flex-direction: column;
            }

            .widget__box {
                border: 2px dashed $primary-color;
                padding: 10px;
                width: 40%;
                height: 100%;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                background-color: rgb(197, 233, 217);
                color: $primary-color;

                @media only screen and (max-width: 560px) {
                    flex-direction: column;
                    width: 80%;
                    height: 80%;
                }

                &--right {
                    width: 100%;
                    height: 100%;
                    cursor: auto;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    text-align: left;

                    @media only screen and (max-width: 560px) {
                        flex-direction: column;
                        width: 100%;
                        text-align: center;
                    }

                    .widget__add--right {
                        width: 25px;
                    }
                }

                .widget__add {
                    width: 100%;
                }
            }
        }
    }

    .maindesktop-navigation {
        width: 100%;
    }

    .maindesktop__bottom {
        width: 100%;
        text-align: center;
    }
}

.add__container {
    align-items: center;
}

.add__botom {
    display: flex;

    @media only screen and (max-width: 860px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 80%;
    }

    @media only screen and (max-width: 560px) {
        width: 100%;
    }

    .mealplan__table {
        border-right: 1px solid black;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        border-top: 1px solid black;

        &:first-of-type {
            border-left: 1px solid black;
        }

        @media screen and (max-width: 860px) {
            border-left: 1px solid black;
        }
    }

    .mealPlan__title {
        padding: 5px;
        text-align: center;
    }

    .mealPlan__row {
        padding: 5px;
        border-bottom: 1px black solid;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mealPlan__header {
        text-transform: capitalize;
        height: 50px;
        padding: 5px;
        border-bottom: 1px black solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
