.table__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .row {
        gap: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    }
}