.sidebar__container {
    background-color: $third-color;
    width: 30%;
    max-width: 250px;
    height: 100vh;
    color: $bg-color;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 580px) {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        max-width: 100vw;
        height: 70px;
    }

    .sidebar__navlink {
        padding: 20px;
        cursor: pointer;
        border-left: 5px solid transparent;
        position: relative;

        @media only screen and (max-width: 580px) {
            border-left: none;
            border-bottom: 5px solid transparent;
            text-align: center;
        }

        &:hover {
            border-left: 5px solid $hover-color;
            color: $hover-color;

            @media only screen and (max-width: 580px) {
                border-left: none;
            }

            &::after {
                content: "►";
                font-weight: bold;
                position: absolute;
                right: 30px;
                color: $hover-color;

                @media only screen and (max-width: 580px) {
                    content: "▼";
                    right: 0px;
                }
            }
        }
    }
}