$primary-color: #4a7a6a;
$primary-muted: #c5e8dc;
$primary-border: #90b4a8;
$bg-color: #f8f5f1;
$bg-card-color: #FBFAF8;
$font-color: #2e2219;
$second-color: #e89259;
$secondary-muted: #fae7db;
$secondary-border: #e89259;
$third-color: #304035;
$hover-color: #8ecccc;
$border-color: #E7E2DA;
$font-base-size: 16px;
$border-radius: 12px;
