@import './styles/variables.scss';
@import './styles/fonts.scss';
@import './styles/components/homepage/header.scss';
@import './styles/components/homepage/hero.scss';
@import './styles/components/app/sidebar.scss';
@import './styles/pages/platform.scss';
@import './styles/components/app/maindesktop.scss';
@import './styles/components/app/add_new.scss';
@import './styles/components/app/list.scss';

.App {
    background-color: pink;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-size: $font-base-size;
    // font-family: 'open_sansregular', sans-serif;
    width: 100%;
    margin-inline: auto;
}

.container {
    max-width: 1800px;
    width: 100%;
}

.icon {
    width: 24px;

    &--small {
        width: 16px;
        height: 16px;
        margin-left: 5px;
    }
}


.btn {
    background-color: $second-color;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.icon__container {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

input {
    font-size: 16px;
}