@import './styles/variables.scss';
@import './styles/fonts.scss';

.App {
    background-color: pink;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-size: $font-base-size;
    font-family: 'open_sansregular';
    width: 100%;
    margin-inline: auto;
}

.container {
    max-width: 1800px;
    width: 100%;
    background-color: $primary-color;
    color: $bg-color;
}