@import './styles/variables.scss';
@import './styles/fonts.scss';
@import './styles/components/homepage/header.scss';
@import './styles/components/homepage/hero.scss';
@import './styles/components/app/sidebar.scss';
@import './styles/pages/platform.scss';
@import './styles/components/app/maindesktop.scss';
@import './styles/components/app/add_new.scss';
@import './styles/components/app/list.scss';

.App {
    background-color: pink;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-size: $font-base-size;
    background-color: $bg-color;
    width: 100%;
    margin-inline: auto;
}

.container {
    width: 100%;
    margin-inline: auto;
    color: $font-color;
}

.icon {
    width: 12px;

    &--small {
        width: 16px;
        height: 16px;
        margin-left: 5px;
    }
}

.btn {
    color: $font-color;
    background-color: $bg-card-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-secondary {
    color: $bg-color;
    background-color: $primary-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
}

.icon__container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $bg-card-color;
    cursor: pointer;
}

input {
    font-size: 14px;
}

.sub__hdl {
    color: $font-color;
    font-weight: 700;
}

.logo {
    width: 36px;
}

.hdl {
    font-family: 'DMSerif', serif;
    font-size: 32px;
    font-weight: 500;
    color: $font-color;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.sub__hdl {
    font-family: 'DMSerif', serif;
    font-size: 24px;
    font-weight: 500;
    color: $font-color;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}
